.container {
	margin-top: 50px;
}

body {
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: #f3f2ee;
 	color: #635959;
}

h1, h1 a {
	color: #8c1018;
	font-size: 72px;
}

h2, h2 a {
	color: #242323;
	font-size: 48px;
}

h3 {
	font-size: 48px;
}

a {
	color: #242323;
}

a:hover {
	color: #8c1018;
}